*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header start */
/* recipe banner start */
.recipe-banner{
    justify-content: space-between;
    align-items: center;
}
.sub-recipe-banner .banner-content-title{
    margin: 3rem auto;
}
.recipe-banner-items{
    flex-wrap: wrap;
   justify-content: space-between;
}
.parson-name-title-2{
    font-size: 0.8rem;
    font-weight: 500;

}
.person-name-title,.parson-name-title-2{
    margin-bottom: 0.5rem;
}
.fa-solid{
    font-size: 1.5rem;
}
.recipe-banner-link{
    gap: 2rem;
}
.print,.share{
    width: 5rem;
    height: 5rem;
    background-color: var(--blue-light);
    border-radius: 50%;
    position: relative;
}
.fa-print,.fa-arrow-up-from-bracket{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.banner-img-section{
    margin: 4rem auto;
    justify-content: space-between;
    height: 600px;
    gap: 2rem;
}

.info{
    height: 100%;
    background-color: var(--blue-light);
    border-radius: 1.9rem;
    padding: 2rem;
   
}
.info-item{
    justify-content: space-between;
    border-bottom: 1px solid var(--black-lighter);
    margin: 1rem auto;
    padding-bottom: 0.5rem;
}
.food-amount{
    font-size: 1.125rem ;
    font-weight: 500;
}
.sub-content{
    text-align: center;
    margin-top: 6rem;
}
.banner-last-content{
    margin-bottom: 5rem;
}
/* recipe banner end */
/* header end */
/* main start */
/* Ingredients start */
.ingredients-title{
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--black-primary);
}
.ingredients-item{
    border-bottom: 1px solid var(--black-lighter);
    padding: 1.5rem 0rem;
    font-size: 1.125rem;
    gap: 0.5rem;
}
input[type="checkbox"]:checked + label{
    text-decoration: line-through;
    text-decoration-color: var(--black-lighter);
    color: var(--black-lighter);

}
input[type="checkbox"]{
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--white-primary);
    border: 2px solid var(--gray-primary);
    cursor: pointer;
    position: relative;
}
input[type="checkbox"]:checked{
    background-color: var(--black-primary);
     border: 2px solid var(--gray-primary);
}
input[type="checkbox"]:checked::before{
    content: "\2713";
    color: var(--white-primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.item-title{
    font-size: 1.25rem;
    font-weight: 600 ;
    color: var(--black-primary);
}
.sub-container .main-ingredients{
   display: grid;
   grid-template-columns: repeat(12 , 1fr);
   grid-gap: 2rem;
    
}
.Ingredients{
    grid-column: 1 / 9;
}
.Other-Recipe{
    grid-column: 9 / 14;
}
.item-1{
    gap: 2rem;
    margin-top: 1rem;
}
.item-title{
    margin-bottom: 1rem;
}
.ads-img{
    margin-top: 3rem;
}

/* Ingredients end */
/* direction start */
.direction{
    width: 65%;
}
.dish-img{
    margin: 3rem 2rem;
}
.dish-item{
     border-bottom: 1px solid var(--black-lighter);
   
}
.sub-dish-item{
    gap: 1rem;
    
}
.dish-item .content{
  margin: 0rem 0rem 2rem 2rem;
}

/* recipe start */
.sub-recipe .ingredients-title{
    margin-bottom: 3rem;
    text-align: center;
} 






/* recipe end */












/* direction end */









/* main end */








