@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.lobster-regular{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
:root{
    --black-primary:rgba(0, 0, 0, 1);
    --black-light:rgba(0, 0, 0, 0.6);
    --black-lighter:rgba(0, 0, 0, 0.1);
    --gray-light:rgba(0, 0, 0, 0.05);
    --gray-lighter:rgba(0, 0, 0, 0.3);
    --white-primary:rgba(255, 255, 255, 1);
    --blue-light:rgba(231, 250, 254, 1);

}
/* common style start */

.d-flex{
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
}
a{
 text-decoration: none;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
.sub-container{
    width: 90%;
    margin: auto;
}
.content{
    font-size: 1rem;
    font-weight: 400;
    color: var(--black-light);
    line-height: 1.5rem;

}
.btn-1{
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--white-primary);
    border-radius: 1rem;
    background-color: var(--black-primary);
    padding: 1.2rem 2rem;
    gap: 1rem;
    border: none;
    
}
 .h2-title{
    font-size: 3rem;
    font-weight: 600;
    color: var(--black-primary);
 }




/* common style end */

/* header start */
/* nav start */
header nav{
    width: 90%;
    margin: 2rem auto;
    justify-content: space-between;
     flex-wrap: wrap; 
}
    

.nav-logo{
    font-size: 1.5rem;
}
.nav-items{
    gap: 2rem;
     flex-wrap: wrap; 
    
}
.nav-items .nav-item .nav-link{
    color: var(--black-primary);
    font-size: 1rem;
}
hr.fast-hr{
  color: var(--black-lighter);
  opacity: 0.1;
  
}


/* nav end */
/* banner start */
header .banner{
  margin-top: 2rem;
  max-height: 640px;
  overflow: hidden;
}
header .banner .banner-left{
    background-color: var(--blue-light);
    padding: 3rem;
    border-radius: 5rem 0rem 0rem 5rem;
} 
.hot-logo{
    width: fit-content;
    gap: 1rem;
    background-color: var(--white-primary);
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
}
.hot-logo-title{
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--black-primary);
}
.banner-content-title{
    font-size: 4rem;
    font-weight: 600;
    margin: 1.5rem 0rem;

}
.cooking{
    gap: 1rem;
    margin: 2rem 0rem 5rem;
}
.cooking .pop{
     width: fit-content;
    gap: 1rem;
    background-color: var(--gray-light);
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;

}
.pop-title{
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--black-light);
}
.person{
    gap: 1rem;
    align-items: center;
}
.person-name .person-name-title{
    font-size: 1rem;
    font-weight: 700;
}
.fa-circle-play{
    font-size: 1.3rem;
}
.banner-last{
    justify-content: space-between;
}


/* banner end */


/* header end */
/* main start */
main{
    margin: 5rem auto !important;
}
/* categories start */

.categories .container-heading {
    justify-content: space-between;
}
.categories .container-heading .btn-1{
    background-color: var(--blue-light);
    color: var(--black-primary);
}
.products{
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10rem auto 0rem;
}
.food{
    position: relative;
     margin-bottom: 10rem;
}
.food img{
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.food-title{
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--black-primary);
    margin-top: 2rem;
    text-align: center;
}
.products .food:nth-child(n){
    width: 180px;
   padding: 2rem;
   border-radius: 0rem 0rem 2rem 2rem;
  box-shadow: 0px 5px 5px var(--gray-lighter);

    
}
.products .food:nth-child(1){
 background-image: linear-gradient(to top, rgba(112, 130, 70, 0.12) ,transparent);
}
.food:nth-child(1) img{
     filter: drop-shadow(5px 0px 20px  rgba(112, 130, 70, 0.6));
}
.products .food:nth-child(2){
 background-image: linear-gradient(to top, rgba(108, 198, 63, 0.12) ,transparent);
}
.food:nth-child(2) img{
     filter: drop-shadow(5px 0px 20px  rgba(108, 198, 63, 0.6));
}
.products .food:nth-child(3){
 background-image: linear-gradient(to top, rgba(204, 38, 27, 0.12) ,transparent);
}
.food:nth-child(3) img{
     filter: drop-shadow(5px 0px 20px  rgba(204, 38, 27, 0.6));
}
.products .food:nth-child(4){
 background-image: linear-gradient(to top, rgba(240, 158, 0, 0.12) ,transparent);
}
.food:nth-child(4) img{
     filter: drop-shadow(5px 0px 20px  rgba(240, 158, 0, 0.6));
}
.products .food:nth-child(5){
 background-image: linear-gradient(to top, rgba(0, 0, 0, 0.12) ,transparent);
}
.food:nth-child(5) img{
     filter: drop-shadow(5px 0px 20px  rgba(240, 158, 0, 0.6));
}
.products .food:nth-child(6){
 background-image: linear-gradient(to top, rgba(0, 0, 0, 0.12) ,transparent);
}
.food:nth-child(6) img{
     filter: drop-shadow(5px 0px 20px   rgba(204, 38, 27, 0.6));
}
/* categories end */
/* recipes start */
.Recipes .sub-recipes{
    text-align: center;
}
.Recipes .sub-recipes .h2-title{
    margin-bottom: 1.5rem;
}
.card-section{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 3rem;
    margin-top: 5rem;

}
.card{
    background-color: var(--blue-light);
    padding: 2rem;
    border-radius: 1.125rem;
}
.card img{
    width: 100%;
    object-fit: cover;
}
.card-title{
    font-size:1.5rem ;
    font-weight: 600;
    color: var(--black-primary);
    margin: 2rem 0rem;
}

.cooking-2,.pop-2{
    gap: 1rem;
}

/* recipes end */

/* chef start */
.chef{
    margin-top: 10rem;
    
}
.chef .sub-chef{
    gap: 5rem;
}
.sub-chef-content{
    margin: 2rem 0rem 5rem;
}
.sub-chef .btn-1{
    padding: 1.2rem 3rem;
}

/* chef end */
/* check out start */
.check-content{
    margin-top: 10rem;
}
.check-content .sub-check-content{
    text-align: center;
}
.check-content .sub-check-content .content{
    margin: 2rem 10rem 10rem;
}
.s-card{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
}
.post{
    background-image: linear-gradient(rgba(255 , 255 ,255 ,1) ,rgba(231, 250, 254, 1));
    padding: 5rem;
}
.btn{
    text-align: center;
    margin-top: 4rem;
    justify-content: center;
}
.fa-instagram{
    font-size: 1.3rem;
}

/* check out end */
/* recipe start */
.recipe{
    margin-top: 10rem;
}
.recipe-content{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    margin-bottom: 5rem;

}
.recipe-card{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 3rem;

}
/* recipe end */

/* inbox start */
.inbox{
    margin-top: 10rem;
}
.inbox .sub-inbox{
    background-color: var(--blue-light);
    text-align: center;
    position: relative;
    height: 440px;
    overflow: hidden;
}
.sub-inbox .h2-title{
    margin: 5rem 0rem 2rem;
}
.sub-inbox img{
    position: absolute;
}
.img-1{
    top: 43%;
    left: 0%;
}
.img-2{
    top: 45%;
    right: 0%;
}
.mail-box{
   justify-content: space-between;
    background-color: var(--white-primary);
    width: 40%;
    margin: 5rem auto;
    padding:0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 1.5rem;
}
.mail-box input{
   border: none;
   color: var(--white-primary);
   opacity: 0.4;

}











/* inbox end */


/* main end */